<%= form_with url: post_path(@post), method: :get do |form| %>
  <div class='form-group'>
    <%= form.select :comments_scope, Comment.statuses.keys, { selected: params[:comments_scope] || 'published' }, { onchange: 'this.form.submit();' } %>
  </div>
<% end %>
