<%# comment ||= @post.comments.build%>
<%= form_with model: [@post, @comment ||= @post.comments.build] do |form| %>
<%#= form.hidden_field :parent_id, value: params[:parent_id] %>
  <p>
    <div class="field">
      <%= form.label :body %>
      <%= form.rich_text_area :body, placeholder: "Add a comment" %>
    </div>
  </p>

  <p>
    <div class="actions">
      <%= form.submit %>
    </div>
  </p>
<% end %>
