<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalTrigger">Hi stranger!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <p>Please, sign up or sign in to continue =)</p>
      </div>
      <div class="modal-footer">
        <%= link_to "Sign Up", register_path, class: 'btn btn-secondary ml-3' %>
        <%= link_to "Sign In", sign_in_path, class: 'btn btn-secondary ml-3 text-white' %>
      </div>
    </div>
  </div>
</div>
<button type="button" id="modal_button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"></button>
<button id="exampleModalTrigger" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>

<script>
  document.getElementById("exampleModalTrigger").click();
</script>
